name: PR Checks
on:
  pull_request:
    branches: [main, master]

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - run: pip install ruff
      - run: ruff check --config=ruff.toml ./src/

  unit-tests:
    runs-on: ubuntu-latest
    needs: ruff-check
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
      - run: pytest tests/ -v
